.idea
.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/dbnavigator.xml
.idea/modules.xml
.idea/.gitignore
.idea/AnonLLM.iml
.idea/discord.xml
project/.env
project/db.sqlite3
