html, body {
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    background-color: rgb(55, 30, 87) !important;
}

@media (min-width: 250px) {
    .container, .container-fluid {
        max-width: 675px !important;
    }
}

.logo {
    font-family: 'IBM Plex Mono', monospace !important;
    font-size: 31px !important;
    font-style: normal !important;
    font-optical-sizing: auto !important;
    font-weight: 600 !important;
    padding: 0 !important;
    background: linear-gradient(to right, blue, rgb(128, 0, 119) 50%, red) !important;
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
}

.github svg {
    height: 100% !important;
    width: 100% !important;
}

.navbar {
    flex-shrink: 0 !important;
    background-color: rgb(61, 35, 94) !important;
}

.container {
    flex-grow: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    overflow: hidden !important;
}

.chat {
    overflow-y: scroll !important;
    flex-grow: 1 !important;
    background-color: rgb(64, 37, 98) !important;
}

.form {
    flex-shrink: 0 !important;
}

.message-width {
    width: fit-content !important;
    clear: both !important;
    max-width: 75% !important;
}

.llm-message-card {
    border-bottom-left-radius: 0 !important;
    background-color: rgb(58, 30, 95) !important;
}

.user-message-card {
    border-bottom-right-radius: 0 !important;
    background-color: rgb(60, 35, 95) !important;
}

#message {
    height: 30px;
    max-height: 30% !important;
    background-color: rgb(58, 30, 94) !important;
}

#message-btn, #q-hello, #q-lang, #q-tree {
    background-color: rgb(58, 32, 92) !important;
}

#message-btn:hover, #q-hello:hover, #q-lang:hover, #q-tree:hover {
    background-color: rgb(90, 40, 156) !important;
}

#message-btn:focus, #q-hello:focus, #q-lang:focus, #q-tree:focus {
    background-color: rgb(103, 45, 179) !important;
}
